* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

body { 
    background-color: rgb(31, 31, 31);
    height: 100vh;
}

.header-container {
    background-color: rgb(53, 53, 53);
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header span {
    color: #249233;;
}


.container {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    padding: 20px 10px;
    border-radius: 20px;
}

.container h1 {
    line-height: 1;
    font-size: 2rem;
}

.container span {
    color: #249233;
}

.container p {
    font-size: 1rem;
    margin-top: 20px;
    color: rgb(177, 177, 177);
}

.container button {
    background-color: #249233;;
    padding: 8px;
    border-radius: 10px;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;

}

.container button:hover {
    scale: 1.05;
    transition: 0.3s;
}

.container hr {
    border-color: rgb(82, 81, 81);
    margin: 1.5rem 0;
}

.passwords div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71, 71, 71);
    border-radius: 10px; 
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
}

.passwords div svg {
    padding-right: 12px;
    color: white;
}

.passwords div p {
    transform: translateY(-10px);
    padding-left: 12px;
    color: white;
}

.passwords div:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.alert {
    opacity: 0;
    transition: 0.5s;
}

.clicked {
    opacity: 1;
    transition: 0.5s;
}

.git-link {
    color: rgb(71, 71, 71);
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 30%;
    right: 30%;
}

@media (min-width: 550px) {
    .container h1 {
        line-height: 1;
        font-size: 3rem;
    }

    .container {
        padding: 40px 10px;
    }

    .container hr {
        margin: 2rem 0;
    }

    .numbers label,
    .symbols label,
    .container p {
        font-size: 1.5rem;
    }

    .numbers input,
    .symbols input {
        scale: 1.5;
        margin: 0 0.5rem;
    }

    .container button {
        font-size: 1.5rem;
    }

    .passwords div {
        margin-bottom: 2rem;
    }

    .header {
        padding: 20px 5%;
    }

    .header h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1000px) {

    .header {
        padding: 10px 5%;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .container h1 {
        line-height: 1;
        font-size: 2rem;
    }

    .numbers label,
    .symbols label,
    .container p {
        font-size: 1rem;
    }

    .numbers input,
    .symbols input {
        scale: 1;
    }

    .container hr {
        margin: 1.25rem 0;
    }

    .container button {
        font-size: 1rem;
        max-width: 400px;
    }

    .passwords {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .passwords div {
        width: 48%;
    }

    .passwords div p {
        padding-left: 18px;

    }

    .container {
        width: 50%;
        margin: 5% auto;
        padding: 2rem;
    }

    body {
        background-color: black;
    }

    .header-container {
        background-color: rgb(31, 31, 31);
    }

    .passwords div {
        margin-bottom: 0;
    }

}






